{% extends "layout.html" %}

{% block title %}
    Orpheus
{% endblock %}

{% block main %}
    <h1 class="center">
        Experience Music, Your Way
    </h1>
    <br>
    <h3>
        Orpheus is your new favorite stem player.
    </h3>
    <h5>
        Upload mp3 files to Orpheus and get the vocals, bass, percussion, piano, and more extracted. 
    </h5>
    <br>
    Play the stems back and adjust them live!
    <div class="ripple1"></div>
    <div class="ripple2"></div>
    <div class="ripple3"></div>
{% endblock %}