{% extends "layout.html" %}

{% block title %}
    Orpheus
{% endblock %}

{% block main %}
    <div>
        <h1 class="center">
            Experience Music, Your Way
        </h1>
        <br>
        <h3>
            Orpheus is your new favorite stem player.
        </h3>
        <br>
        <h5>
            Upload mp3 files to Orpheus and get the vocals, bass, percussion, piano, and more extracted. 
            <br>
            Play the stems back and adjust them live!
        </h5>
        <br>
        <form action="/getstarted">
            <button class="btn btn-primary" type="submit">Get Started</button>
        </form>
    </div>
    <div>
        <a class="ripple1" href="/getstarted"></a>
        <a div class="ripple2" href="/getstarted"></a>
        <a div class="ripple3" href="/getstarted"></a>
    </div>
{% endblock %}