{% extends "layout.html" %} {% block title %} Upload {% endblock %} {% block main %}
<h1 class="center">
    My Orpheus Library
</h1>
<h6>{{ message }}</h6>
<h6> It might take up to a minute to process stems the first time "Get Stems" or "Shift Stems" is clicked for each song. Thank you for your patience! </h6>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Song Name</th>
            <th scope="col">Get Stems</th>
            <th scope="col">Shift Stems Up a Semitone</th>
            <th scope="col">Delete Song</th>
        </tr>
    </thead>
    <tbody>
        {% for song in songs %}
        <tr>
            <td>{{ song['song'] }}</td>
            <td>
                <form action="/spleeter" method="POST">
                    <input type="hidden" name="song" value="{{ song['song'] }}">
                    <button class="btn btn-primary" type="submit">Get Stems</button>
                </form>
            </td>
            <td>
                <form action="/shifter" method="POST">
                    <input type="hidden" name="song" value="{{ song['song'] }}">
                    <button class="btn btn-primary" type="submit">Shift Stems</button>
                </form>
            </td>
            <td>
                <form action="/deleter" method="POST">
                    <input type="hidden" name="song" value="{{ song['song'] }}">
                    <button class="btn btn-primary" type="submit">Delete Song</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}