{% extends "layout.html" %}

{% block title %}
    Upload
{% endblock %}

{% block main %}
    <h1 class="center">
        My Songs
    </h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Song Name</th>
                <th scope="col">Get Stems</th>
                <th scope="col">Shift Stems</th>
            </tr>
        </thead>
        <tbody>
            {% for song in songs %}
            <tr>
                <td>{{ song['song'] }}</td>
                <td>
                    <form action="/spleeter" method="POST">
                        <input type="hidden" name="song" value="{{ song['song'] }}">
                        <input type="submit" value="Get Stems">
                    </form>
                </td>
                <td>
                    <form action="/shifter" method="POST">
                        <input type="hidden" name="song" value="{{ song['song'] }}">
                        <input type="submit" value="Shift Stems">
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}