{% extends "layout.html" %}

{% block title %}
    Orpheus
{% endblock %}

{% block main %}
    <!-- Stems -->
    {% for stem in stems %}
        <b>{{ stem.split("/")[-1].split(".")[0] }}</b>
        <!-- id is name of stem (there are only a few possible stem names -->
        <audio id='{{ stem.split("/")[-1].split(".")[0] }}' preload="auto" autobuffer controls>
            <source src="{{ stem }}" type="audio/{{ stem.split('/')[-1].split('.')[1] }}">
        </audio>
    {% endfor %}
    <button id='playaudio' onclick='playAudio()'>Play Audio</button>
    <button id='stopaudio' onclick='stopAudio()'>Stop Audio</button>
    <button id='refreshaudio' onclick='refreshAudio()'>Refresh Audio</button>
    <button id='pitchup' onclick='pitchUp()'>Shift On</button>
{% endblock %}