{% extends "layout.html" %} {% block title %} Orpheus {% endblock %} {% block main %}
<!-- Stems -->
<h1 class="center">
    Stem Player
</h1>
<table class="center">
    {% for stem in stems %}
    <tr>
        <td>
            <b>{{ stem.split("/")[-1].split(".")[0].upper() }}</b>
        </td>
        <td>
            <!-- id is name of stem (there are only a few possible stem names -->
            <audio id='{{ stem.split("/")[-1].split(".")[0] }}' preload="auto" autobuffer controls>
                <source src="{{ stem }}" type="audio/{{ stem.split('/')[-1].split('.')[1] }}">
            </audio>
        </td>
    </tr>
    {% endfor %}
</table>
<br>

<button id='playaudio' class="btn btn-primary" onclick='playAudio()'>Play Audio</button>
<button id='stopaudio' class="btn btn-primary" onclick='stopAudio()'>Stop Audio</button>
<button id='refreshaudio' class="btn btn-primary" onclick='refreshAudio()'>Refresh Audio</button>
<a href={{ download }}><button id='download' class="btn btn-primary">Download Stems</button></a>
<br>
<hr>
<h6 class='center'>
    Instructions: Use the buttons at the bottom (Play/Pause) to start/stop the audio in sync. Use the Refresh Audio to resync all stems to the beginning. To change the volume or mute a stem, use the volume controls!
</h6>
{% endblock %}