<!DOCTYPE html>
<html lang="en">
<head>
    <title>Orpheus</title> <!--Add logo at the top-->
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='simple.css') }}">-->
    <script src="{{ url_for('static', filename='simple.js') }}"></script>
    <!-- http://getbootstrap.com/docs/5.1/ -->
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
    <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>

    <!-- https://favicon.io/emoji-favicons/money-bag/ -->
    <link href="/static/favicon.ico" rel="icon">
</head>
<body>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <div id="audioplay">
        <b>VOCALS</b>
        <audio id='vocals' src="/static/stems/random_song/random_song/vocals.wav" type="audio/wav" preload="auto" autobuffer controls></audio>
        <b>BASS</b>
        <audio id='bass' src="/static/stems/random_song/random_song/bass.wav" type="audio/wav" preload="auto" autobuffer controls ></audio>
        <b>DRUMS</b>
        <audio id='drums' src="/static/stems/random_song/random_song/drums.wav" type="audio/wav" preload="auto" autobuffer controls></audio>
        <b>PIANO</b>
        <audio id='piano' src="/static/stems/random_song/random_song/piano.wav" type="audio/wav" preload="auto" autobuffer controls></audio>
        <b>OTHER</b>
        <audio id='other' src="/static/stems/random_song/random_song/other.wav" type="audio/wav" preload="auto" autobuffer controls></audio>
    </div>

    <button id='playaudio' onclick='playAudio()'>Play Audio</button>
    <button id='stopaudio' onclick='stopAudio()'>Stop Audio</button>
    <button id='refreshaudio' onclick='refreshAudio()'>Refresh Audio</button>
    
    <!-- upload file -->
    <form action = "http://localhost:5000/uploader" method = "POST"
        enctype = "multipart/form-data">
        <input type = "file" name = "file" />
        <input type = "submit"/>
    </form>
    
    <!-- Spleeter -->
    <form action="/spleeter" method="POST">
        <div class="mb-3">
            <select id = "chosen_song" class="form-select mx-auto w-auto" name="song">
                <option disabled selected>Song</option>
                {% for song in songs %}
                    <option id = song_name value="{{ song }}">{{ song.rsplit('.', 1)[0] }}</option>
                {% endfor %}
            </select>
            <button class="btn btn-primary" type="submit">Separate</button>
        </div>
    </form>
    
    <div class="ocean">
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    
    <!-- Testing: what are the outputs below. looks good  -->
    {% for stem in stems %}
        <p> The id is: {{ stem.split("/")[-1].split(".")[0] }} . The src is {{ stem }} . The type is audio/{{ stem.split("/")[-1].split(".")[1] }} .</p>
    {% endfor %}
    
    <!-- Stems -->
    {% for stem in stems %}
        <b>{{ stem.split("/")[-1].split(".")[0] }}</b>
        <!-- id is name of stem (there are only a few possible stem names -->
        <audio id='{{ stem.split("/")[-1].split(".")[0] }}' preload="auto" autobuffer controls>
            <source src="{{ stem }}" type="audio/{{ stem.split("/")[-1].split(".")[1] }}">
        </audio>
    {% endfor %}
</body>
</html>